@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas:
    'nav'
    'content'
    'footer';
  min-height: 100%;
  /* background-image: url('../images/icecream.jpg'); */
  background-image: url('../images/icecream-blur_edges.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
}

nav {
  grid-area: nav;
}

#content {
  grid-area: content;
}

footer {
  grid-area: footer;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: rgba(0, 0, 0, 0.639);
  padding: 12px;
}

.copyright {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.copyright img {
  content: url('../images/github-mark.svg');
  max-height: 16px;
}

footer a {
  color: inherit;
}
