.container {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 450px);
  grid-template-areas:
    'msg img'
    'msg img';
  padding: 48px;
  gap: 48px;
}

.msg-container {
  grid-area: msg;
  padding: 24px;
  background-color: white;
}

.img-container {
  grid-area: img;
  padding: 24px;
  text-align: right;
  background-color: white;
}

#about-img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}
